<section class="register flex justify-center pt-20">

    <!-- component -->
    <div class="bg-white shadow-md rounded  px-8 pt-6 pb-8 mb-4 flex flex-col w-1/5">
        <div class="mb-4">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="name">
                Name
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="name" type="text"
                placeholder="Your Lovely Name">
        </div>
        <div class="mb-4">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="email">
                Email
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="email"
                type="text" placeholder="We wont spam you">
        </div>
        <div class="mb-6">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
                Password
            </label>
            <input class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3"
                id="password" type="password" placeholder="(A safe one)">
            <p class="text-red text-xs italic">Please choose a password.</p>
        </div>
        <div class="flex items-center justify-between">
            <button class="btn-primary bg-blue text-white font-bold py-2 px-4 rounded-full">
                Login
            </button>
            <a class="inline-block align-baseline font-bold text-sm" href="/login">
                Already have account?
            </a>
        </div>
    </div>

</section>