<tr>
    <td class="border px-4 py-2 text-green-900">
        <p>${order._id}</p>
        <div>${renderItems(order.items)}</div>
    </td>
    <td class="border px-4 py-2">${order.customerId.name}</td> 
    <td class="border px-4 py-2">${order.address}</td>
    <td class="border px-4 py-2">
        <div class="inline-block relative w-64">
            <form action="/admin/order/status" method="POST">
                <input type="hidden" name="orderId" value="${order._id}">
                <select onchange="this.form.submit()" id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <!-- <option value="order_placed" ${order.status === 'order_placed'?'selected':''}>Placed</option> -->
                    <option value="confirmed" ${order.status === 'confirmed'?'selected':''}>Confirmed</option>
                    <option value="prepared" ${order.status === 'prepared'?'selected':''}>Prepared</option>
                    <option value="delivered" ${order.status === 'delivered'?'selected':''}>Delivered</option>
                    <option value="completed" ${order.status === 'completed'?'selected':''}>Completed</option>
                   
                  </select>
            </form>
        </div>
    </td>
    <td class="border px-4 py-2">${order.phone}</td>
    <td class="border px-4 py-2">${moment(order.createdAt).format('hh:mm A')}</td>    

</tr>